body{
	background-color: teal;
	
}

@media screen and (max-width:786px){
    #container{
        width: 100%
    }
    #left-column{
        width: 70%
    }
    #right-column{
        width: 30%
    }
    html {background-color: green;}
}

/*
==============================================================================================================================================
	Iphone4
==============================================================================================================================================
*/

@media screen and (max-width:320px){
    #container{
        width: 320%
    }
    html {background-color: red;}
}